<h2> <%= application_name %> </h2> 

<p> About the repo. </p>

<div style="clear:both;"></div>
<a class="button" href="/?search_field=all_fields&amp;q="><i class="fa fa-hand-o-right"></i>
 Browse The Collection</a>
 <div style="clear:both;"></div>