  <!-- Collection Header -->
<div class="collection-header" role="banner" aria-label="collection banner">
  <div class="wrap">
      <h1 class="collection-header-title">
          <a href="/"> <%= application_header %> </a>
      </h1>
      <%= render :partial=>'shared/user_util_links' %>
  </div>
</div>